# Default ignored files
/shelf/
/workspace.xml

# Android Studio
.idea/
.gradle/
local.properties
*.iml
.DS_Store

# Build files
/build
app/build/

# Native build
.externalNativeBuild
.cxx
